MONGO_URI=mongodb+srv://saugatadeb026_db_user:<db_password>@profiledata.0v23xy1.mongodb.net/?appName=profiledata
DB_NAME=farmer_int_db
FRONTEND_URL=https://farmer-int-system-1wpmd6w52-null-pointers18.vercel.app
